<% content_for :sidebar do %>
  <div id="why-edinburgh">
    <h2>Edinburgh</h2>
    <a href="/faq">Why just Edinburgh?</a>
  </div>
  <%= render :partial => 'search_form' %>
<% end %>

Some ads and stuff