<% content_for :title do %>
  Find theatre accommodation in <%= "Edinburgh" %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'search_form' %>
<% end %>

<div id="homepage">
  <h1>
    Looking for theatre accommodation?<br/>
    Look no further!
  </h1>

  <p>Just choose your theatre, type of room and price range then hit 'Find Digs'.</p>
  <p>It's fast, free and it couldn't be easier.</p>
</div>
