<% content_for :sidebar do %>
  <%= render :partial => 'search_form' %>
<% end %>

<% unless @search.results.empty? %>
  <ul>
  <% @search.results.each do |dig| %>
    <li id="dig-<%= dig.id %>"><%= render :partial => 'lozenge', :locals => {:dig => dig} %></li>
  <% end %>
  </ul>
<% else %>
  <p>Sorry, no digs matched your search criteria</p>
<% end %>
