html {
  font-family:georgia,arial,sans-serif;
  background-color:#464233;
}

strong {
  font-weight:bold;
}

h1, h2, h3 {
  padding-bottom:10px;
  padding-top:15px;
  font-weight:bold;
}

#sidebar h2 {
  padding-bottom:0;
  padding-top:0;
}

#page {
  width:911px;
  margin:0 auto;
}

#header img {
  display:block;
  margin:auto;
}

#container {
  background-color:#FFF;
}

#search-form {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:#000;
  margin:5px;
  margin-left:16px;
  padding:10px 5px;
  border: 1px solid #575757;
}

#sidebar {
  position:relative;
  font-size:13px;
  float: left;
}

#sidebar h2 {
  font-size:15px;
}

#why-edinburgh {
  position:absolute;
  top:-30px;
  left:130px;
  margin:0;
  padding:0;
}

#why-edinburgh a,
.what-is-a-tour-code {
  font-size:10px;
}

#sidebar label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

#sidebar #search-button {
  margin-left:188px;
}

#content {
  margin-left:300px;
}

#one-column-content {
  padding:0 30px 30px 30px;
}

#footer {
  clear:left;
  background-color:#000;
  text-align:center;
  padding:20px;
}

ul.footer-menu {
  background-color:#464233;
  text-align:center;
}

.footer-menu li {
  font-size:10px;
  display:inline;
}

.footer-menu li a {
  color:#000;
}

.contact-details {
  color:#91928E;
}

.tel {
  margin-right:10px;
}

.tel,
.email,
.contact-details a {
  color:#FFF;
  text-decoration:none;
}

.contact-details {
  padding:20px;
  border:1px solid #575757;
  font-size:12px
}

.error {
  color:red;
  margin-left:114px;
  font-size:11px;
}

.hidden {
  display:none;
}

.lozenge {
  padding:5px;
  margin-bottom:5px;
  margin-right:5px;
  border-bottom:1px solid #91928E;
  font-size:16px;
  height:150px;
}

.lozenge .loz-left,
.lozenge .loz-right,
.image-price-distance,
div.dig-details {
  float:left;
}

.section {
  float:left;
  padding:20px;
}

#dig .section.dig-details {
  width:490px;
}

#address {
  clear:both;
  border: 2px solid #91928E;
  padding:10px;
  width:785px;
  margin: 0 auto;
}

.lozenge .loz-left {
  padding-right:15px;
}

.lozenge div {
  margin-bottom:3px;
}

.lozenge ul.dig-details {
  padding-bottom:16px;
}

.lozenge ul.dig-details li {
  text-align:left;
  margin:3px;
}

.lozenge ul.dig-details span {
  font-weight:bold;
  padding-right:5px;
}

.lozenge .price-per-week,
.lozenge .distance {
  font-weight:bold;
}

#faq li {
  background-image:url('/images/bullet.png');
  background-repeat:no-repeat;
  padding-left:25px;
}

#faq ul {
  margin-left: 200px;
  margin-bottom:20px;
}

#ask-more-questions {
  float:right;
  text-align:right;
  font-size:10px;
}

#dig h1 {
  text-align:center;
}

.address-label {
  display:inline-block;
  width:100px;
}

.address-label,
.address-info {
  padding-bottom:3px;
}

.tour-form {
  text-align:center;
}

#homepage {
  text-align:center;
}

form.sort {
  font-size:11px;
  padding-top:5px;
  padding-bottom:20px;
}
