html {
  font-family:georgia,arial,sans-serif;
  background-color:#464233;
}

#page {
  width:911px;
  margin:0 auto;
}

#header img {
  display:block;
  margin:auto;
}

#container {
  background-color:#FFF;
}

#sidebar {
  font-size:13px;
  float: left;
}

#sidebar label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

#sidebar #search-button {
  margin-left:188px;
}

#content {
  margin-left:300px;
}

#footer {
  clear:left;
  background-color:#000;
  text-align:center;
  padding:20px;
}

.contact-details {
  color:#91928E;
}

.tel {
  margin-right:10px;
}

.tel,
.email,
.contact-details a {
  color:#FFF;
  text-decoration:none;
}

.contact-details {
  padding:20px;
  border:1px solid #575757;
  font-size:12px
}

.error {
  color:red;
  margin-left:114px;
  font-size:11px;
}

.hidden {
  display:none;
}

.lozenge {
  border:1px solid red;
}

