html {
  font-family:georgia,arial,sans-serif;
  background-color:#464233;
}

strong {
  font-weight:bold;
}

h1 {
  padding-bottom:10px;
  padding-top:15px;
  font-weight:bold;
}

li {
  background-image:url('/images/bullet.png');
  background-repeat:no-repeat;
  padding-left:25px;
}

#page {
  width:911px;
  margin:0 auto;
}

#header img {
  display:block;
  margin:auto;
}

#container {
  background-color:#FFF;
}

#sidebar {
  font-size:13px;
  float: left;
}

#sidebar h2 {
  font-size:15px;
}

#why-edinburgh {
  position:absolute;
  top:145px;
  left:390px;
  margin:0;
  padding:0;
}

#why-edinburgh a {
  font-size:10px;
}

#sidebar label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

#sidebar #search-button {
  margin-left:188px;
}

#content {
  margin-left:300px;
}

#one-column-content {
  padding:0 30px 30px 30px;
}

#footer {
  clear:left;
  background-color:#000;
  text-align:center;
  padding:20px;
}

.contact-details {
  color:#91928E;
}

.tel {
  margin-right:10px;
}

.tel,
.email,
.contact-details a {
  color:#FFF;
  text-decoration:none;
}

.contact-details {
  padding:20px;
  border:1px solid #575757;
  font-size:12px
}

.error {
  color:red;
  margin-left:114px;
  font-size:11px;
}

.hidden {
  display:none;
}

.lozenge {
  padding:5px;
  margin-bottom:5px;
  margin-right:5px;
  border-bottom:1px solid #91928E;
  font-size:10px;
}

.lozenge div {
  margin-bottom:8px;
}

.lozenge .dig-type {
  float:right;
}

.lozenge ul.dig-details li {
  display:inline-block;
  text-align:center;
  margin:3px;
}

.lozenge ul.dig-details span {
  display:block;
  font-size:20px;
}

.lozenge .price-per-week,
.lozenge .distance {
  font-size:20px;
}

ul.faq-questions {
  margin-bottom:20px;
}

#ask-more-questions {
  float:right;
  text-align:right;
  font-size:10px;
}

