<% content_for :meta do %>
  <meta name="robots" content="noindex" />
<% end %>

<h1>Details Updated</h1>
<p>Thanks, all your details have been updated.</p>
<p><%= link_to "Why not take a look at your digs page.", @dig %></p>