<ul class="dig-details">
  <li><span class="number_of_double_rooms"><%= dig.number_of_double_rooms %></span> Double rooms</li>
  <li><span class="number_of_sofa_beds"><%= dig.number_of_sofa_beds %></span> Sofa beds</li>
  <li><span class="number_of_single_rooms"><%= dig.number_of_single_rooms %></span> Single rooms</li>
  <li><span class="number_of_twin_rooms"><%= dig.number_of_twin_rooms %></span> Twin rooms</li>
</ul>