<h1>Frequently Asked Questions</h1>
<ul>
  <li>Why just Edinburgh?</li>
  <li>What’s it all about?</li>
  <li>Who are you?</li>
  <li>How much does it cost?</li>
  <li>What is the basic profile?</li>
  <li>What is the Upgraded Profile?</li>
  <li>What is the Booking Profile?</li>
  <li>Why should I register?</li>
  <li>What is the ‘Tour Code’?</li>
  <li>Why do I need a ‘Tour Code’?</li>
  <li>What if I don’t use a ‘Tour Code’?</li>
  <li>What about tax?</li>
</ul>