<div id="faq">
  <div id="ask-more-questions">If your question isn’t answered here please call on<br/><strong>0208 144 5372</strong> or email<br/><a href="mailto:info@theatredigsbooker.com">info@theatredigsbooker.com</a></div>

  <h1>Frequently Asked Questions</h1>
  <ul class="faq-questions">
    <li><a href="#why-just-edinburgh">Why just Edinburgh?</a></li>
    <li><a href="#whats-it-all-about">What’s it all about?</a></li>
    <li><a href="#who-are-you">Who are you?</a></li>
    <li><a href="#how-much-does-it-cost">How much does it cost?</a></li>
    <li><a href="#what-is-the-basic-profile">What is the basic profile?</a></li>
    <li><a href="#what-is-the-upgraded-profile">What is the Upgraded Profile?</a></li>
    <li><a href="#what-is-the-booking-profile">What is the Booking Profile?</a></li>
    <li><a href="#why-should-i-register">Why should I register?</a></li>
    <li><a href="#what-is-the-tour-code">What is the ‘Tour Code’?</a></li>
    <li><a href="#why-do-i-need-a-tour-code">Why do I need a ‘Tour Code’?</a></li>
    <li><a href="#what-if-i-dont-use-a-tour-code">What if I don’t use a ‘Tour Code’?</a></li>
    <li><a href="#what-about-tax">What about tax?</a></li>
  </ul>

  <h1 id="why-just-edinburgh">Why just Edinburgh?</h1>
  <p>TDB wants to solve the headaches of booking theatre digs, but Rome wasn’t built in a day. We are running this ‘Beta‘ service in Edinburgh to start with, to iron out all the creases and we’ll roll-out to the rest of the UK once we’re satisfied we can do the best job possible. To be informed when new theatres and towns come online sign up for our newsletter.</p>

  <h1 id="how-much-does-it-cost">How much does it cost?</h1>
  <p>It’s Free!!! Well, most of it anyway... In it’s basic form, digs providers are able to advertise on the site for free so that touring companies can search for and find suitable digs matching their criteria. Providers then have the option to pay for an upgraded profile showing more details and photos or upgrade to the fully automated booking system.</p>

  <h1 id="what-is-the-basic-profile">What is the basic profile?</h1>
  <ul>
    <li>Free</li>
    <li>One room photo and one exterior photo</li>
    <li>Basic description limited to 140 characters</li>
    <li>No reviews</li>
    <li>Will appear below results for upgraded profiles and booking profiles</li>
  </ul>

  <h1 id="what-is-the-upgraded-profile">What is the Upgraded Profile?</h1>
  <ul>
    <li>£9.99 one-off fee</li>
    <li>Up to 10 photos of your choice</li>
    <li>Unlimited* capacity for description</li>
    <li>Review service (reviewed digs appear higher in the results page</li>
    <li>Discounted membership upgrade to Booking Profile.</li>
  </ul>

  <h1 id="what-is-the-booking-profile">What is the Booking Profile?</h1>
  <ul>
  <li>£44.99 annual fee</li>
  <li>Fully managed, online booking facility - TDB manages all guest rooms making them searchable by availability, instantly bookable  and automated</li>
  <li>No more missed opportunities when you’re out or on the phone</li>
  <li>No more calls for rooms that are already booked</li>
  <li>Appear at the top of the results page</li>
  <li>Reviews service</li>
  <li>Unlimited* photos and capacity for description</li>
  <li>Update your profile online</li>
  </ul>

  <h1 id="why-should-i-register">Why should I register?</h1>
  <p>If you don’t have a login password, don’t worry! Just contact us with your Equity, Spotlight, Bectu, Musicians’ Union or SMA membership details. If you don’t have any of these and/or don’t have a company manager just email us explaining the situation and we will process your request as quickly as possible.</p>

  <h1 id="what-is-the-tour-code">What is the ‘Tour Code’?</h1>
  <p>This code is given to your company manager/tour manager or anyone in charge of your tour and is unique to your production. Contact them for the code and if they haven’t got one, please ask them to contact us. We’re trying to get all current tours on the site but some can slip through the net so your help is greatly appreciated.</p>

  <h1 id="why-do-i-need-a-tour-code">Why do I need a ‘tour code’?</h1>
  <p>Many theatre digs providers are private individuals who offer rooms in their private homes. These rooms are not available to the public but are instead only offered to the touring theatre community. By being exclusive, theatre digs are often much cheaper than the equivalent guest rooms in the area. By ensuring that only theatre professionals can view their profiles more private digs providers use this site and as a result TDB are able to offer you more choice.</p>

  <h1 id="what-if-i-dont-use-a-tour-code">What if I don’t use ‘tour code’?</h1>
  <p>No problem! You can still search the publicly viewable accommodation and choose to view the results in which ever priority you choose - greatly improving your digs finding experience.</p>

  <h1 id="what-about-tax">What about tax?</h1>
  <p>Did you know you are able to earn upto £4250 per year from renting your room out before paying tax on that amount? For more info goto the HMRC website and search for ‘Rent a Room’.</p>
</div>