<h1>Dig Types</h1>

<%= link_to "Create Dig Type &raquo;", new_admin_dig_type_path %><br/>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
<% @dig_types.each do |dig_type| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= dig_type.name %></td>
    <td><%= link_to "Edit", edit_admin_dig_type_path(dig_type) %></td>
  </tr>
<% end %>
</table>