<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
  </head>
  <body>
    <ul>
      <li><%= link_to "Tours", admin_tours_path %></li>
    </ul>
    <ul>
      <li><%= link_to "Create Tour", new_admin_tour_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>